<div>
    <h1>
        {{title}}
    </h1>

    <body>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let key of keys" (change)="onKeyChange(key)">
                {{key}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let mode of modes" (change)="onModeChange(mode)">
                {{mode}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let chord of chordTypes" (change)="onChordTypeChange(chord)">
                {{chord}}
            </mat-radio-button>
        </mat-radio-group>
        <li *ngFor="let degree of degrees"> {{degree.toString()}} </li>
    </body>
</div>