<div>
    <h1>
        {{title}}
    </h1>

    <body>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let degree of degrees">{{degree.toString()}}</mat-grid-tile>
         </mat-grid-list>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let key of keys" (change)="onKeyChange(key)">
                {{key}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let mode of modes" (change)="onModeChange(mode)">
                {{mode}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let chord of chordTypes" (change)="onChordTypeChange(chord)">
                {{chord}}
            </mat-radio-button>
        </mat-radio-group>
        <br/><br/><br/><br/><br/>
            <!-- <mat-list>
                <mat-list-item *ngFor="let degree of degrees">{{degree.toString()}}</mat-list-item>
            </mat-list> -->
    </body>
</div>