.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    float: left;
}

.radio-button {
    margin: 5px;
}

.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }
 
// mat-grid-list {
//     display: flex;
//     flex-direction: column;
// }